*{
    margin: 0px;
    padding: 0px;
}
.home{
    height: 100vh;
    width: 100%;
    background-color: white;
}

.topdiv{
    height: 10vh;
    width: 100%;
    background-color: orange;
    color:white;
}
.bottomdiv{
    height: 90vh;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.middiv{
    height: 96.5%;
    width: 99%;
    background-color: white;
    border-radius: 8px;
    margin-top: 10px;
}
.midhead{
    height: 90px;
    width: 100%;
    background-color: orange;
    border-radius: 8px 8px 0px 0px;
}
.midbottom{
    height: 465px;
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    overflow-y: scroll;
    border-radius: 0px 0px 8px 8px ;
}




/* 
.entry_2{
    height: 600px;
    width: 500px;
    background-color: lightblue;
} */


input[type=search] {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
    float: right;
    font-size: 14px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 5px 2px 5px 10px;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  
  input[type=search]:focus {
    width: 50%;
  }